{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        The Scarlet Banner
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Website for the Scarlet Banner" />
    <link rel="icon"
          href="https://design.scarletbanner.com/images/day/favicon.ico"
          media="(prefers-color-scheme:no-preference) or (prefers-color-scheme:light)" />
    <link rel="icon"
          href="https://design.scarletbanner.com/images/night/favicon.ico"
          media="(prefers-color-scheme:dark)" />
    <link rel="stylesheet"
          href="https://design.scarletbanner.com/v1/0/0/index.css"
          crossorigin="" />
  </head>
  <body class="scarletbanner">
    <nav class="auth header">
      <ul>
        <li class="pov">
          <label for="auth-nav-pov">Perspective</label>
          <fieldset class="input-button">
            <select id="auth-nav-pov">
              <option>Common Knowledge</option>
            </select>
            <button>Set</button>
          </fieldset>
        </li>
        {% if request.user.is_authenticated %}
          <li>
            <a href="{% url "users:detail" request.user.username %}">{% translate "Profile" %}</a>
          </li>
          <li>
            <a href="{% url "account_logout" %}">{% translate "Log Out" %}</a>
          </li>
        {% else %}
          <li>
            <a href="{% url "account_signup" %}">{% translate "Register" %}</a>
          </li>
          <li>
            <a href="{% url "account_login" %}">{% translate "Log In" %}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <nav>
      <h1>
        <a href="{% url 'home' %}">The Scarlet Banner</a>
      </h1>
    </nav>
    <main>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
    </main>
    <script src="https://design.scarletbanner.com/v1/0/0/bundle.js"></script>
  </body>
</html>
